@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
        url('./src/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-UltralightItalic.woff') format('woff'),
        url('./src/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
        url('./src/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-RegularItalic.woff') format('woff'),
        url('./src/SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
        url('./src/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-BlackItalic.woff') format('woff'),
        url('./src/SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
        url('./src/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-SemiboldItalic.woff') format('woff'),
        url('./src/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
        url('./src/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-LightItalic.woff') format('woff'),
        url('./src/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
        url('./src/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-ThinItalic.woff') format('woff'),
        url('./src/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
        url('./src/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-MediumItalic.woff') format('woff'),
        url('./src/SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
        url('./src/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-HeavyItalic.woff') format('woff'),
        url('./src/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./src/SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
        url('./src/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./src/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('./src/SFProDisplay-BoldItalic.woff') format('woff'),
        url('./src/SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}